.root {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: inset 0px -1px 0px #e5e5e5;
  z-index: 9999;
  display: flex;
  align-items: center;
  .navbar {
    display: block;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .headerLeftBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .headerRightBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .headerText {
    font-family: 'HelveticaNeueCyr-Medium';
    font-weight: 500;
  }
  .form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    background-color: #f6f8f9;
    margin: 0 24px;
  }
  .formInput {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 0 12px 12px;
    font-family: 'Helvetica-Light', sans-serif;
    font-weight: 300;
    background: #f6f8f9;
    font-size: 17px;
    line-height: 22px;
  }
  .shop {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #f6f8f9;
    padding: 12px 12px;
    margin-right: 16px;
    cursor: pointer;
    color: #000;
    outline: none;
    border: none;
    &.total {
      background-color: #309b42;
      color: #fff;
      .shopIcon {
        svg {
          fill: #fff;
        }
      }
    }
    .shopIcon {
      svg {
        fill: #323232;
      }
    }
  }
  .shopText {
    font-family: 'HelveticaNeueCyr-Medium';
    font-weight: 500;
    color: inherit;
    font-size: 17px;
    line-height: 22px;
    margin-left: 12px;
  }
  .lang {
    position: relative;
    background: #f6f8f9;
    padding: 12px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .wrapper {
      position: absolute;
      cursor: default;
      top: 45px;
      right: -30px;
      padding: 30px;
      display: none;
      width: 300px;
      transition: max-height 0.5s ease-out;
      max-height: 0;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .langList {
      cursor: default;
      width: 100%;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
      background: #fff;
      position: relative;
      z-index: 9999;
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 15px solid #fff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        top: -13px;
        right: 15px;
      }
    }
    .expandIcon svg {
      transition: transform 0.3s ease-out;
    }
    &:hover {
      .expandIcon svg {
        transform: rotate(-180deg);
      }
      .wrapper {
        display: block;
        max-height: 100vh;
      }
    }
  }
  .user {
    background: #f6f8f9;
    padding: 10px 16px;
    cursor: pointer;
    position: relative;
    .loginWrapper {
      position: absolute;
      top: 45px;
      right: -50px;
      background: none;
      padding: 30px;
      display: none;
      cursor: default;
      opacity: 0;
      max-height: 0;
      transition: opacity 0.3s ease-out;
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 15px solid #fff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        top: 15px;
        right: 50px;
      }
    }
    &:hover {
      .loginWrapper {
        z-index: 1899;
        display: block;
        opacity: 1;
        max-height: 100vh;
      }
    }
  }
  .shopping {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopIcon {
    vertical-align: middle;
  }

  .expandIcon {
    cursor: pointer;
    margin-left: 12px;
    svg {
      vertical-align: middle;
    }
  }
  .responsiveIconsWrapper {
    display: none;
  }
  .basketDesktop {
    display: block;
  }
  .basketMobile {
    display: none;
  }
}
.langList {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listItem {
  display: flex;
  padding: 13px 12px;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: #f6f8f9;
    padding: 13px 12px;
  }
}
.menuIconBox {
  display: none;
}

@media screen and (max-width: 800px) {
  .root {
    position: sticky;
    z-index: 999;
    height: 65px;
    // box-shadow: none;
    .navbar {
      display: none;
    }
    .brandLogo {
      width: 108px;
      height: 40px;
      margin-right: 20px;
      vertical-align: middle;
    }
    .formInput {
      display: none;
    }
    .logo {
      display: none;
    }
    .lang {
      display: none;
    }
    .user {
      display: none;
    }
    .headerRightBox {
      display: none;
    }
    .headerLeftBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .form {
      display: none;
    }
    .menuIconBox {
      display: block;
      background-color: #f6f8f9;
      padding: 9px 11px 5px 11px;
      align-self: flex-end;
    }
    .responsiveIconsWrapper {
      display: block;
    }
    .basketDesktop {
      display: none;
    }
    .basketMobile {
      display: block;
    }
    .shop {
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      background-color: #f6f8f9;
      padding: 8px 12px;
      margin-right: 12px;
      cursor: pointer;
      color: #000;
      outline: none;
      border: none;
      &.total {
        background-color: #309b42;
        color: #fff;
        .shopIcon {
          svg {
            fill: #fff;
          }
        }
      }
      .shopIcon {
        svg {
          fill: #323232;
        }
      }
    }
  }
}
