.button {
    width: 100%;
    background-color: #309B42;
    color: white;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.41px;
    font-family: 'HelveticaNeueCyr-Medium';
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 17px 0;
    &:hover {
        background-color: rgba(0, 155, 66, 0.9)
    }
}