.btn {
    width: 50%;
    cursor: pointer;
    margin-top: 24px;
    background-color: #F6F8F9;
    color: #25282A;
    font-size: 17px;
    line-height: 22px;
    padding: 17px 34px;
    letter-spacing: 0.41px;
    font-weight: 700;
    font-family: 'HelveticaNeueCyr-Medium';
    border: 0;
    outline: none;
    &:hover {
        background: rgba($color: #25282A, $alpha: 0.1);
    }

}

.title {
    display: block;
}

.boxPadding {
    padding: 36px;
}
@media (max-width: 720px) {
    .btn {
        width: 100%;
    }
    .title {
        display: none;
    }
    .boxPadding {
        padding: 16px;
    }
}