.root {
  position: relative;
  width: 100%;
  height: 570px;
  overflow: hidden;
  
  .bannerImage {
    width: 100%;
    height: 540px;
    object-fit: cover;
    // margin-bottom: 50px;

  }
}



@media (max-width: 575px) {
  .root {
    width: 100%;
    height: 200px;
    .bannerImage {
      width: 100%;
      height: 200px;
      object-fit: cover;
      // background-position: left;
      // margin-bottom: 50px;
  
    }
  }
}


// @media (max-width: 800px) {
//   .root {
//     width: 100%;
//     height: 300px;
//     .bannerImage {
//       width: 100%;
//       height: 300px;
//       object-fit: cover;
//       // background-position: left;
//       // margin-bottom: 50px;
  
//     }
//   }
// }