.personalInput {
  margin-right: 16px;
  margin-bottom: 0;
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  padding: 12px 0 12px 12px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 500;
  background: #f6f8f9;
  font-size: 17px;
  line-height: 22px;
  border: 1px solid #f6f8f9;
  &:focus {
    border: 1px solid #309b42;
  }
  &:last-child {
    margin: 0;
  }
}

.formBox {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .formBox {
    display: flex;
    flex-direction: column;
  }
  .personalInput {
    margin-right: 0;
    margin-bottom: 12px;
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    padding: 12px 0 12px 12px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
    background: #f6f8f9;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #f6f8f9;
    &:focus {
      border: 1px solid #309b42;
    }
  }
}
