.root {
  background-color: #f6f8f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  margin-top: 8px;
  height: 48px;
  min-width: 120px;
}

@media (max-width: 800px) {
  .root {
    height: 38px;
    min-width: 96px;
  }
}
