.root {
  border-radius: 0;
  .box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
  // padding-top: 48px;
  .title {
    // margin-top: 48px;
  }
  .regionElement {
    cursor: pointer;
    &:hover {
      background-color: #F6F8F9;
    }
  }
  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .list {
    // margin: 16px;
    cursor: pointer;
  }
  .row {
    cursor: pointer;
  }
}
.regionElement {
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #F6F8F9;
  }
}

.wrapper {
  width: 100%;
}

@media (max-width: 575px) {
  .root {
  }
}
