.btnPrimary {
  width: 100%;
  background-color: #309b42;
  color: white;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.41px;
  font-family: 'HelveticaNeueCyr-Medium';
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 17px 0;
  &:hover {
    background-color: rgba(0, 155, 66, 0.9);
  }
}

.btn {
  width: 100%;
  background-color: #f6f8f9;
  color: #25282a;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.41px;
  font-family: 'HelveticaNeueCyr-Medium';
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 17px 0;
  &:hover {
    background: rgba($color: #25282a, $alpha: 0.1);
  }
}

.inputBox {
  display: flex;
  margin: 32px 0 24px 0;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8f9;
  height: 56px;
  padding: 12px 0 12px 12px;
  border: 1px solid #f6f8f9;
  &:focus {
    border: 1px solid #309b42;
  }
}

.input {
  width: 100%;
  height: 54px;
  outline: none;
  border: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: 500;
  background: #f6f8f9;
  font-size: 17px;
  line-height: 22px;
  // border: 1px solid #f6f8f9;
}
