.root {
  background-color: #fff;
}
.footerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footerList {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.footerList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listLink {
  position: relative;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.41px;
  white-space: nowrap;
  a {
    display: block;
    padding: 10px 8px;
    transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
      0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
      0.2s transform cubic-bezier(0, 0, 0.1, 1);
    &::before {
      background-color: currentcolor;
      border-radius: 1px;
      bottom: 0px;
      content: '';
      height: 2px;
      left: 50%;
      margin-left: -9px;
      position: absolute;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
        0.2s transform cubic-bezier(0, 0, 0.1, 1);
      -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
      transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
        0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
        0.2s transform cubic-bezier(0, 0, 0.1, 1);
      width: 18px;
    }
    &:hover::before {
      -webkit-transform: scaleX(0.2222222222222222);
      -ms-transform: scaleX(0.2222222222222222);
      transform: scaleX(0.2222222222222222);
    }
  }
}

.activeLink {
  color: #309b42;
  &::before {
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
  }
}

@media screen and (max-width: 1200px) {
  .root {
    display: none;
  }
}
