.listStyle {
    &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #309B42;
        margin-right: 8px;
        align-self: flex-start;
        margin-top: 5px;

    }
}

.btn {
    cursor: pointer;
    width: 50%;
    background-color: #F6F8F9;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #25282A;
    padding: 17px 23px;
    border: 0;
    outline: none;
    margin-right: 24px;
    &:hover {
        background: rgba($color: #25282A, $alpha: 0.1);
    }
}

.btnPrimary {
    background-color: #309B42;
    width: 50%;
    color: white;
    cursor: pointer;
    // background-color: #F6F8F9;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.41px;
    // color: #25282A;
    padding: 17px 23px;
    border: 0;
    outline: none;
    &:hover {
        background: rgba($color: #309B42, $alpha: 0.9);
    }
}


.title {
    display: block;
}
.wrapper {
    width: 50%;
    margin-top: 36px;
}
@media (max-width: 1200px) {
    .title {
        display: none;
    }
    .wrapper {
        width: 100%;
        margin-top: 16px;
    }
}