.root {
  position: sticky;
  width: 100%;
  top: 100px;
  right: 0;
  .button {
    width: 100%;
    cursor: pointer;
    padding: 17px 16px;
    border: 0;
    background-color: #309b42;
    color: #fff;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
  }
}
