.title {
  display: block;
}

.boxPadding {
  padding: 32px;
  margin-top: 32px;
  .banner {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 80% 20%;
  }
}
.boxMargin {
  margin: 32px auto;
  text-align: justify;
  ul {
    list-style-type: decimal;
    padding-left: 20px;
  }
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 575px) {
  .title {
    display: none;
  }
  .boxPadding {
    padding: 16px;
    margin-top: 16px;
  }
  .boxMargin {
    margin: 16px 0;
    text-align: left;
  }
}
