.root {
  display: flex;
  background: #f6f8f9;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    vertical-align: middle;
    span {
      width: 24px !important;
      height: 24px !important;
    }
  }
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    vertical-align: middle;
  }
  .input {
    max-width: 130px;
    outline: none;
    border: none;
    background: #f6f8f9;
    padding: 12px;
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 22px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .root {
    display: none;
  }
}
