.root {
  // padding: 72px 32px;
  .totalTitle {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: #000;
  }
  .countBadge {
    margin-left: 16px;
  }
}

.priceDesktop {
  display: block;
}

.description {
  display: block;
}

.priceMobile {
  display: none;
}

.iconButton svg {
  display: block;
}
.iconButton {
  display: block;
  svg {
    &:hover {
      fill: #f2271c;
      animation: trash 0.2s;
    }
  }
}
.iconButtonMobile {
  display: none !important;
}

.totalTitle {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #000;
}

.price {
  text-align: right;
}

@media screen and (max-width: 800px) {
  .description {
    display: none;
  }
  .iconButton svg {
    display: block;
  }

  .priceMobile {
    display: block;
  }
  .priceDesktop {
    display: none;
  }
  .iconButton {
    display: block !important;
  }
  .rightBox {
    display: flex;
    flex-direction: column;
  }
  .price {
    font-size: 15px !important;
    text-align: right;
  }
  .iconButtonMobile {
    display: block !important;
  }
  .totalTitle {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
  }
  .cartActions {
    margin-bottom: 32px;
  }
}

@keyframes trash {
  0% {
    transform: translateX(1.5px);
  }
  50% {
    transform: translateX(-1.5px);
  }
  100% {
    transform: translateX(1.5px);
  }
}
