.formPrice {
    display: none;
}

@media (max-width: 575px) {
   .wrapper {
       width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .formPrice {
       display: block;
   }

}