.root {
  display: none;
  position: sticky;
  top: 65px;
  left: 0;
  z-index: 50;
  margin-top: 20px;
  @media (max-width: 576px) {
    display: block;
  }
  .menuListTop {
    background-color: #fff;
    padding: 8px;
    overflow-y: auto;
    margin-right: 0;
    border-radius: 0;
    box-shadow: inset 0px -1px 0px #e5e5e5;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }
  .listItem {
    color: #000;
    font-family: 'HelveticaNeueCyr-Medium';
    font-weight: 500;
    font-size: 17px;
    font-weight: 22px;
    border-radius: 30px;
    white-space: nowrap;
    outline: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    a {
      display: block;
      padding: 14px 22px;
      border-radius: 30px;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: transparent;
      }
      &.active {
        background: #309b42 !important;
        color: #fff;
      }
    }
  }
}
